.study {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.unverify {
  min-width: 1000px;
  background: white;
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 400px;
}

.unverifyImg {
  width: 400px;
}

.timeoutImg {
  width: 400px;
}

.unverifyTxt {
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}
