.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 1200px;
  margin: auto;
}

.accountInfoContainer {
  border: 1px solid #d9d9d9;
  border-bottom-width: 0;
  width: 800px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.accountInfo {
  margin: 20px;
  line-height: 10px;
}

.name {
  font-weight: bold;
  font-size: 30px;
}

.collapse {
  width: 800px;
}

.submitWrapper {
  width: 800px;
  height: 47px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-top-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileStatus {
  margin-top: 15px;
}

.statusAccepted {
  color :#26d701
}

.statusPending {
  color: gray
}

.statusRejected {
  color: red
}

.uploadedCert {
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.introTips {
  margin-left: 160px;
}

.introInstruct {
  text-align: justify;
}