.TutorCallHistories {
  margin: 50px auto;
  background-color: #ffffff;
  width: 1200px;
  min-height: 200px;
  border: 1px solid #d9d9d9; 
  padding: 30px;
}

.searchBar {
  width: 300px;
  margin-bottom: 20px;
  float: right;
  position: relative;
  z-index: 99;
}