.signInForm{
  align-self: center;
}
.signInForgot {
  float: right;
  cursor: pointer;
  color: #1890ff;
}
.signInButton {
  width: 100%;
  margin-bottom: 10px;
}

.registerNow {
  cursor: pointer;
  color: #1890ff;
}