.footerContent {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.contactIcon {
  margin: 10px;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  color: #242729;
}