.headerContent {
  display: flex;
  padding: 6px 200px 0px 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTitle {
  margin: 0;
  line-height: 0;
  font-size: 40px;
  color: white
}

.headerIcon {
  height: 52px;
  margin-right: 5px;
}

.userButton {
  width: 100px;
}

.registerButton {
  width: 300px;
}

.userButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  width: 250px;
}

.defaultBody {
  background-image: url('../assets/background.jpg');
  height: 100vh;
  padding-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.introContainer {
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcomeText {
  font-size: 40px;
  font-weight: 600;
}

.welcomeDescription {
  font-size: 20px;
}

.introContent {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  width: 500px;
  align-items: center;
}

.introImg {
  width: 500px;
  margin-left: 20px;
}

.becomeTutor {
  color: #1890ff;
}