.logoContainer {
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 20px 0px 20px 20px;
}

.logoText {
  color: white;
  margin: auto auto auto 10px;
  font-size: 27px;
}

.userControl {
  float: right;
  width: 160px;
  height: 40px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}

.dropDownIcon {
  margin-left: 10px;
}

.adminMenu {
  min-height: 100vh;
}

.menuIcon {
  font-size: 20px;
}
