.settings {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.settingsContent {
  background-color: #fff;
  margin: 30px;
  padding: 20px;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.settingImg {
  width: 525px;
}
