.studentsLayout {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.paginationWrapper {
  margin-top: 10px;
  float: right;
}

.searchBar {
  width: 300px;
  margin-bottom: 20px;
  float: right;
  position: relative;
  z-index: 99;
}
